* {
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
    overflow: hidden;


}

ul li {
    text-decoration: none;
    float: right;

}

ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    line-height: 37px;


}

.grid {
    height: 23px;
    position: relative;
    top: 5px;
    /* bottom:2px; */
    /* margin-top: -2px; */
}

/* .google-nav {
    justify-content: space-around; 
} */
.space-between {
    justify-content: space-between; 
}
.srch-nav {
    margin-left: 1050px;
}

/* .flex-container {
    padding: 10px;
    margin: 10px;

    display: flex;
  } */


.primary {
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    cursor: pointer;

}


primary:link,
primary:visited,
primary:active,
primary:focus {
    outline: none;
}



.primary:hover {
    border: 1px solid #c5c5c5;
}

.sign-btn {
    font-weight: bold;
    color: #fff;
    background-color: #4885ed;
    border: none;
    border-radius: 5px;
    font-size: medium;

}

.sign-btn:hover {
    outline: none !important;
    border: none !important;
    cursor: pointer;
}

.logo {
    margin-top: 150px;
    margin-bottom: 25px;
    justify-content: center;

    /* margin-top: 150px; */
}

.search-bar {
    margin-bottom: 25px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    height: 34px;
    width: 575px;
    font-size: medium;
}

.search-bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdcbb;
    transition: ease-in-out all 300ms;

}

.search-bar:focus {
    outline: none;
}

.voice-search-icon {
    height: 20px;
    position: relative;
    top: 5px;
    left: -70px;
    cursor: pointer;
}

.camera {
    height: 20px;
    position: relative;
    top: 5px;
    left: -60px;
    cursor: pointer;
}

.text {
    padding-left: 40px;
}

.btns {
    display: inline-flex;
    justify-self: center;
}

.languages {
    display: inline-flex;
    margin-left: -40px;
}

.languages li {

    font-size: small;
}

.languages a {
    padding: 8px;

    text-decoration: none;
    line-height: 10px;
    color: blue;
}


footer {
    background-color: rgb(230, 230, 230);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;


}

footer ul {
    float: inline-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}

footer li {
    color: rgb(87, 87, 87);
    padding: 20px 20px 2px 10px;
    font-size: small;

}

.location {
    background-color: rgb(230, 230, 230);
    position: fixed;
    left: 0;
    bottom: 20;
    width: 100%;
    border-bottom: 1px solid rgba(175, 175, 175, 0.651);
    padding: 10px 20px 8px 50px;
    color: rgb(87, 87, 87);
    font-size: small;
}

/* advanced search */
.google-logo-adv {
    height: 40px;
    padding-right: 530px;
    margin-top: 10px;
    cursor: pointer;
}

.google-nav {
    display: inline-flex;
}

.ul-adv {
    float: inline-end;
}

.title {
    color: #f28b82;
    margin-left: 40px;
    padding-top: 30px;
    padding-bottom: 10px;



}

.border {
    border-bottom: solid 1px rgb(167, 167, 167);
    width: 100%;
}

.title h3 {
    font-weight: 400 !important;
}

.search-fields {
    margin-left: 40px;
    padding-top: 30px;
    width: 100%;
}

.search-fields h4 {
    color: rgb(80, 80, 80);
    font-weight: 500 !important;
    padding-bottom: 20px;
}


.adv-display {
    width: 80%;
    overflow: hidden;
}

.adv-f {
    padding-right: 150px;
}

#advanced {
    float: left !important;
    align-content: flex-start;
    text-align: left;
}


.row input {
    min-width: 75%;
    height: 25px;
    padding: 2px 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.row label {
    padding-right: 50px;
    border-radius: 2px;
}

#first {
    margin-left: 70px;
    border-radius: 2px;
}
#second {
    border-radius: 2px;
}
#third {
    margin-left: 45px;
    border-radius: 2px;
}

#fourth {
    margin-left: 37px;
    border-radius: 2px;
}

.row .h6 {
float: left;
    display: inline-block;
    width: 10px;
    
}


.adv-btn {
    padding: 10px;
   margin-left: 970px;
}

.labels{
    width:100%;
    padding-bottom: 50px;

   
}

.labels div{
    width:100%;
        display: flex;
    

}
.labels div label{
    width:15%;
    margin:5px 0;
    color:rgb(68, 68, 68);

}
.input{
    width:30%;
    margin:5px 0;
    color:rgb(68, 68, 68);
}
 .inputs{
    width:15%;
    margin:5px 0;
    color:rgb(68, 68, 68);
}
.labels div p{
    font-size: 11px;
font-family: sans-serif,arial; 
   width:40%;
   margin:8px 10px;
   color:rgb(68, 68, 68);
}
h4{
    color:rgb(68, 68, 68);
}
.inputs{
    width:14%;
    margin:5px 0;
    color:rgb(68, 68, 68);
}
.labels div h4{
    margin:0 4px;
    margin-top: 5px;

}
p {
    font-size: medium !important;
    color:rgb(68, 68, 68);
}